<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.BoardPagingMapper">  
 
 <!-- menu_id 에 해당하는 게시물 자료수 -->
	<select id="count">
		SELECT COUNT(*) CNT
		FROM BOARD
		WHERE MENU_ID = #{menu_id}
	</select>
	
	<!-- 
	getBoardPagingList(String menu_id, int offset, int recordSize)
	menu_id    : param1
	offset     : param2
	recordSize : param3
	arg0,1,2 는 사용불가(버전 특성이 있는 것으로 보임)
	 -->
	<select id="getBoardPagingList">
		SELECT IDX, MENU_ID, TITLE, CONTENT, WRITER, TO_CHAR(REGDATE,'YYYY-MM-DD') REGDATE, HIT
		FROM BOARD
		where MENU_ID = #{param1}
		ORDER BY IDX DESC
		offset #{param2} rows fetch next #{param3} rows only
	</select>
	
	<insert id="insertBoard" parameterType="map">
 		INSERT INTO BOARD
 				( IDX, MENU_ID, TITLE, CONTENT, WRITER, REGDATE, HIT )
 		values	( 
 			( SELECT NVL(MAX(IDX),0)+1 FROM BOARD  ), 
 			#{ menu_id }, #{ title }, #{ content }, #{ writer },sysdate,0 
 			)
 	</insert>
 	
 	<select id="getBoardData" resultType="com.board.domain.BoardDTO">
		SELECT IDX, MENU_ID, TITLE, CONTENT, WRITER, TO_CHAR(REGDATE,'YYYY-MM-DD') REGDATE, HIT
		FROM BOARD
		WHERE IDX = #{idx}
		ORDER BY IDX DESC
	</select>
 	
 	<update id="incHit">
		UPDATE BOARD SET HIT = (SELECT (NVL(MAX(hit),0)+1) FROM BOARD WHERE IDX=#{idx})
		WHERE IDX=#{idx}
	</update>
	
</mapper>